@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-ExtraLight.eot');
  src: url('../fonts/SmoochSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-ExtraLight.woff2') format('woff2'),
  url('../fonts/SmoochSans-ExtraLight.woff') format('woff'),
  url('../fonts/SmoochSans-ExtraLight.ttf') format('truetype'),
  url('../fonts/SmoochSans-ExtraLight.svg#SmoochSans-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-Regular.eot');
  src: url('../fonts/SmoochSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-Regular.woff2') format('woff2'),
  url('../fonts/SmoochSans-Regular.woff') format('woff'),
  url('../fonts/SmoochSans-Regular.ttf') format('truetype'),
  url('../fonts/SmoochSans-Regular.svg#SmoochSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-Thin.eot');
  src: url('../fonts/SmoochSans-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-Thin.woff2') format('woff2'),
  url('../fonts/SmoochSans-Thin.woff') format('woff'),
  url('../fonts/SmoochSans-Thin.ttf') format('truetype'),
  url('../fonts/SmoochSans-Thin.svg#SmoochSans-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-ExtraBold.eot');
  src: url('../fonts/SmoochSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-ExtraBold.woff2') format('woff2'),
  url('../fonts/SmoochSans-ExtraBold.woff') format('woff'),
  url('../fonts/SmoochSans-ExtraBold.ttf') format('truetype'),
  url('../fonts/SmoochSans-ExtraBold.svg#SmoochSans-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-SemiBold.eot');
  src: url('../fonts/SmoochSans-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-SemiBold.woff2') format('woff2'),
  url('../fonts/SmoochSans-SemiBold.woff') format('woff'),
  url('../fonts/SmoochSans-SemiBold.ttf') format('truetype'),
  url('../fonts/SmoochSans-SemiBold.svg#SmoochSans-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-Black.eot');
  src: url('../fonts/SmoochSans-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-Black.woff2') format('woff2'),
  url('../fonts/SmoochSans-Black.woff') format('woff'),
  url('../fonts/SmoochSans-Black.ttf') format('truetype'),
  url('../fonts/SmoochSans-Black.svg#SmoochSans-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-Medium.eot');
  src: url('../fonts/SmoochSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-Medium.woff2') format('woff2'),
  url('../fonts/SmoochSans-Medium.woff') format('woff'),
  url('../fonts/SmoochSans-Medium.ttf') format('truetype'),
  url('../fonts/SmoochSans-Medium.svg#SmoochSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-Light.eot');
  src: url('../fonts/SmoochSans-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-Light.woff2') format('woff2'),
  url('../fonts/SmoochSans-Light.woff') format('woff'),
  url('../fonts/SmoochSans-Light.ttf') format('truetype'),
  url('../fonts/SmoochSans-Light.svg#SmoochSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Smooch Sans';
  src: url('../fonts/SmoochSans-Bold.eot');
  src: url('../fonts/SmoochSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SmoochSans-Bold.woff2') format('woff2'),
  url('../fonts/SmoochSans-Bold.woff') format('woff'),
  url('../fonts/SmoochSans-Bold.ttf') format('truetype'),
  url('../fonts/SmoochSans-Bold.svg#SmoochSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

