@import 'fonts';
@import 'variables';
@import 'App';

html {
  font-family: "Smooch Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 30px;
  font-weight: 500;
  font-size: 25px;
  color: white;

  * {
    box-sizing: border-box;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
